@font-face {
  font-family: "SnapWeb";
  src: url("../font/SnappWeb2.0-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "SnapWeb";
  src: url("../font/SnappWeb2.0-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSansMobile";
  src: url("../font/IRANSansMobile.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSansMobile";
  src: url("../font/IRANSansMobile_Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

:root {
  --color-gray: rgb(249 250 251);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(88 90 94);
  --color-black-2: rgb(58 61 66);
  --color-pink: rgb(255 0 166);
  --fs-xs: 10px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-2xl: 32px;
  --fs-3xl: 40px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
}

/* Responsive container */
@media screen and (min-width:600px) {
  .container {
    width: 90% !important;
  }
}

/* Registation Modal Box CSS */
.registrantion__modalbox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.registrantion__box {
  width: 25rem;
  max-width: 30rem;
  background: var(--color-white);
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(15rem);
  scale: 0.2;
}

.reg-backmodal-open {
  transition: all 0.2s ease-in-out;
  visibility: visible;
  z-index: 1;
}

.reg-modal-open {
  transform: translateY(0) !important;
  scale: 1;
}

.registrantion__box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.registrantion__box>h1 {
  font-family: IRANSansMobile;
  font-size: 24px;
  margin-bottom: 3rem;
}

.registrantion__box>p {
  font: 700 var(--fs-sm) IRANSansMobile;
  color: var(--color-black-2);
  margin-bottom: 0.5rem;
}

.registrantion__box>form>input {
  width: 100%;
  height: var(--fs-3xl);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(58, 61, 66, 0.12);
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-size: var(--fs-lg);
}

.registrantion__box>form>p {
  font: 400 var(--fs-sm) IRANSansMobile;
  color: var(--color-black-2);
  margin-bottom: 1rem;
}

.registrantion__box>form>button {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--color-pink);
  font: 700 var(--fs-xl) IRANSansMobile;
  color: var(--color-white);
  cursor: pointer;
}

.registrantion__box>form>button:disabled {
  color: rgb(166, 170, 173);
  background-color: rgb(237, 239, 240);
}

#modal-close-btn {
  cursor: pointer;
}

/* Header Css */

.header {
  padding: var(--fs-lg) 8px var(--fs-2xl);
  background-color: var(--color-gray);
  position: relative;
  overflow: hidden;
}

/* Responsive Header */
@media screen and (min-width: 960px) {
  .header {
    margin-top: 3rem;
    padding: 2rem;
  }
}


/* Hero Image */
.hero {
  position: absolute;
  left: -27rem;
  top: 6rem;
  height: 100%;
  pointer-events: none;
}

/* Hero Responsive */
@media screen and (min-width:960px) {
  .hero {
    left: -10rem;
  }
}


/* NavBar Section Css*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.nav__registration {
  display: flex;
  gap: 1rem;
}

.nav__registration a,
.nav__registration button {
  border: none;
  background: none;
  font-family: IRANSansMobile;
  font-size: 14px;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  height: 48px;
  padding: 0 1rem;
  color: var(--color-black);
}

.nav__registration>a {
  display: none;
}

.nav__registration button {
  border-radius: 0.5rem;
  background: var(--color-pink);
  color: var(--color-white);
  font-size: var(--fs-lg);
}

.nav__registration>div {
  cursor: pointer;
}

/* Responsive Navbar Section */
@media screen and (max-width:960px) {
  .nav__registration button>span {
    display: none;
  }

  .nav__registration button {
    background: none;

  }
}

@media screen and (min-width: 960px) {
  nav {
    margin-bottom: 10rem;
  }

  .nav__registration>div {
    display: none;
  }

  .nav__registration button>div {
    display: none;
  }

  .nav__registration a {
    display: flex;
    align-items: center;
  }
}



/* header Content Section CSS */
.header__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: SnapWeb;
}

.header__content>h1 {
  font-size: 20px;
  color: var(--color-black-2);
  display: flex;
  gap: 0.5rem;
}

/* Responsive Header */
@media screen and (min-width: 600px) {
  .header {
    margin-top: 3rem;
  }
}

.header__content > h1 > div {
  height: 2rem;
  overflow: hidden;
  color: var(--color-pink);
}
.Animated_text> p{
  height: 70px;
}

.Animated_text {
  transition: 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53) 0s;
}

.header__content>h3 {
  color: #53565c;
  font-size: var(--fs-md);
  font-weight: 400;
}

.header__searchBox {
  width: 17rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.0625rem solid rgba(58, 61, 66, 0.12);
  background-color: var(--color-white);
  border-radius: 5rem;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  padding: 0 0.2rem;
  margin-top: 1rem;
}

.searchBox__input {
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.searchBox__input>input {
  height: 100%;
  font: 700 var(--fs-md) IRANSansMobile;
  color: #a6aaad;
  border: none;
}

.searchBox__btn {
  background-color: var(--color-pink);
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive header content */
@media screen and (min-width:600px) {
  .header__content>h1 {
    font-size: 25px;
  }

  .header__content > h1 > div {
    height: 3rem;
  }
}

@media screen and (min-width:960px) {
  .header__content>h1 {
    font-size: var(--fs-3xl);
  }

  .header__content > h1 > div {
    height: 4rem;
  }
}

/* Header Services CSS */
.header__services {
  position: relative;
}

.header__services>ul::-webkit-scrollbar {
  display: none;
}

.header__services>ul {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  overflow: auto;
  max-width: 95%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2.5rem);
  border-radius: 1.5rem;
  margin: 14rem auto 1rem auto;
  padding: 1.5rem 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.header__services>ul>li {
  min-width: 5.5rem;
}

.header__services>ul>li>a>img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.header__services>ul>li>a>p {
  font: 400 var(--fs-sm) IRANSansMobile;
  color: var(--color-black);
}

.header__services--next,
.header__services--prev {
  width: 1.8rem;
  height: 1.8rem;
  background: var(--color-pink);
  backdrop-filter: blur(0.6rem);
  position: absolute;
  top: 5rem;
  bottom: 0;
  margin: auto 1rem;
  border-radius: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__services--prev {
  right: -1rem;
  top: -5rem;
}

.header__services--next {
  left: -1rem;
}

/* Responsive Header Services */
@media screen and (min-width:960px) {
  .header__services>ul {
    margin-top: 6rem;
  }

  .header__services--next,
  .header__services--prev {
    display: none;
  }
}


/* Category Css */
.category {
  margin: 3rem 0 4rem 0.1rem;
}

.category>h3 {
  font: 700 var(--fs-lg) IRANSansMobile;
  color: var(--color-black-2);
  margin-bottom: 1.5rem;
}

.categoty__products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.products__items {
  height: 6rem;
  background-color: var(--color-white);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.75rem;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 30%) 0px 8px 32px -16px;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
  margin: 12px;
}

.products__items>img {
  height: 100%;
  border-radius: inherit;
}

.products__items--title {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--color-white);
  padding: 0.5rem 1rem;
  border-top-left-radius: 1rem;
  font: 700 var(--fs-md) IRANSansMobile;
  color: var(--color-black-2);
  display: flex;
  flex-grow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s;
}

.products__items--title:hover {
  gap: 1rem;
}

/* Responsive Product */
@media screen and (max-width: 600px) {
  .products__items {
    max-width: 43%;
  }
}

/* Download Section CSS */
.download-section {
  background: rgb(235, 237, 240);
  padding: 3rem 0 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.download-section h1 {
  color: var(--color-black-2);
  font: 700 var(--fs-2xl) SnapWeb;
  margin-bottom: 2rem;
}

.download-section p {
  font: 400 var(--fs-md)/2rem SnapWeb;
  color: var(--color-black);
  margin-bottom: 2rem;
}

.download-section form>div {
  width: 17rem;
  height: 48px;
  border-radius: 0.5rem;
  background: var(--color-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  margin: 0 auto;
}

.download-section form>div>input {
  width: 65%;
}


.download-section form>p {
  font: 700 var(--fs-sm) IRANSansMobile;
  margin: 0 0 1rem 0;
}

.download-section form>div>button {
  background: var(--color-pink);
  border: none;
  height: calc(100% - 0.8rem);
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  font: 700 var(--fs-sm) IRANSansMobile;
  color: var(--color-white);
  cursor: pointer;
}

.download-section form>div>input {
  height: 100%;
  border: none;
  direction: ltr;
  text-align: right;
  padding-right: 0.5rem;
  font: 700 var(--fs-md) IRANSansMobile;
}

.download-section>img {
  display: none;
}

.download-links {
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  width: 18rem;
  row-gap: 0.2rem;

}

/* Responsive Download Section */
@media screen and (min-width:960px) {
  .download-section {
    padding: 3rem 8rem 2rem 2rem;
    border-bottom-right-radius: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: right;
    margin-top: 12rem;
    height: 43rem;
  }

  .download-section form>div {
    margin: 0;
  }

  .download-links {
    margin: 2rem 0 0 0;
  }

  .download-section>img {
    display: block;
    height: 48rem;
    transform: translateY(-15rem);
  }
}

/* Job Offer CSS */
.join-offer {
  margin: 4rem 0 2rem;
  background: var(--color-gray);
  padding: 2rem 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

.join-offer>div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.join-offer h1 {
  font: 400 var(--fs-2xl) SnapWeb;
  color: var(--color-black);

}

.join-offer p {
  font: 400 1.2rem SnapWeb;
  color: var(--color-black-2);
}

.join-offer a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12rem;
  font: 700 18px IRANSansMobile;
  color: var(--color-white);
  border: none;
  gap: 0.5rem;
  background: var(--color-pink);
  border-radius: 0.5rem;
  height: 48px;
  padding: 1px 6px;
}

.join-offer>img {
  display: none;
}

/* Responsive join-offer */
@media screen and (min-width:960px) {
  .join-offer {
    border-radius: 4rem;
    padding: 2rem 2rem 0rem;
  }

  .join-offer>img {
    display: block;
    transform: translateY(-5rem);
  }
}

/* Cities CSS */
.cities {
  margin-top: 1rem;
  padding: 2rem 0.5rem;
  border-top: 1px solid #ccc;
}

.cities p {
  font: 700 var(--fs-lg) IRANSansMobile;
  margin-bottom: 1.5rem;
  color: var(--color-black-2);
}

.cities>div {
  display: flex;
  flex-wrap: wrap;
}

.cities__item {
  font: 400 var(--fs-xs) IRANSansMobile;
  color: #A6AAAD;
  min-width: 30%;
  padding: 0.5rem 0.2rem;
}

/* Responsive Cities */
@media screen and (min-width:600px) {
  .cities__item {
    min-width: 25%;
  }
}

@media screen and (min-width:960px) {
  .cities__item {
    min-width: 16%;
  }
}

@media screen and (min-width:1280px) {
  .cities__item {
    min-width: 8%;
    ;
  }
}

/* Footer CSS */
.footer {
  display: grid;
  grid-template-columns: auto;
  row-gap: 2rem;
  background: #f9fafb;
  padding: 3rem 2rem;
}

.footer__logo,
.social-media__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__logo>div h3 {
  font: 700 18px SnapWeb;
  color: var(--color-pink);
}

.footer>div p {
  font: 400 var(--fs-sm) IRANSansMobile;
  color: var(--color-black-2);
}

.social-media__links {
  margin-top: 1rem;
}

.social-media__links--item {
  background: var(--color-white);
  width: 2.5rem;
  height: 2.5rem;
  background-clip: padding-box;
  border: 0.09375rem solid rgba(58, 61, 66, 0.06);
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__site-map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.footer__site-map--item {
  min-width: 40%;
  font: 400 var(--fs-md) IRANSansMobile;
  color: #53565c;
  text-align: center;
}

.footer__certificate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Responsive Footer */

@media screen and (min-width:768px) {
  .footer {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width:960px) {
  .footer {
    grid-template-columns: auto auto auto;
  }

  .footer__site-map--item {
    text-align: right;
  }

  .social-media__links {
    margin: 1rem 6rem 0 0;
    justify-content: right;
  }

  .footer__site-map--item {
    min-width: 30%;
  }
}